<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='shortcut icon' type='image/x-icon' href='/images/icons/favicon.ico' />
  <link rel="stylesheet" href="/css/main.css">
  <title>Soudou</title>
</head>
<body>
  <header class="header">
    <a>
        <img class="logo" src="/images/icons/logo.png" alt="soudou logo" width="96px">
        <!--h1>SOUDOU</h1-->
    </a>    
  </header>